
accelerate-travis-buildbot
==========================

[![Build Status](https://travis-ci.org/tmcdonell-bot/accelerate-travis-buildbot.svg?branch=master)](https://travis-ci.org/tmcdonell-bot/accelerate-travis-buildbot)

This is a meta-repository for the entire Accelerate family of packages. Its goal
is to automatically attempt to rebuild all packages once any one of them
changes. The collected documentation can be found [here](http://tmcdonell-bot.github.io/accelerate-travis-buildbot/).

Status of individual repositories:

 - [![Build Status](https://travis-ci.org/{REPO_accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_accelerate}) [{REPO_accelerate}](https://github.com/{REPO_accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_accelerate-llvm}.svg?branch=master)](https://travis-ci.org/{REPO_accelerate-llvm}) [{REPO_accelerate-llvm}](https://github.com/{REPO_accelerate-llvm})
 - [![Build Status](https://travis-ci.org/{REPO_accelerate-fft}.svg?branch=master)](https://travis-ci.org/{REPO_accelerate-fft}) [{REPO_accelerate-fft}](https://github.com/{REPO_accelerate-fft})
 - [![Build Status](https://travis-ci.org/{REPO_accelerate-blas}.svg?branch=master)](https://travis-ci.org/{REPO_accelerate-blas}) [{REPO_accelerate-blas}](https://github.com/{REPO_accelerate-blas})
 - [![Build Status](https://travis-ci.org/{REPO_accelerate-io}.svg?branch=master)](https://travis-ci.org/{REPO_accelerate-io}) [{REPO_accelerate-io}](https://github.com/{REPO_accelerate-io})
 - [![Build Status](https://travis-ci.org/{REPO_accelerate-bignum}.svg?branch=master)](https://travis-ci.org/{REPO_accelerate-bignum}) [{REPO_accelerate-bignum}](https://github.com/{REPO_accelerate-bignum})
 - [![Build Status](https://travis-ci.org/{REPO_colour-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_colour-accelerate}) [{REPO_colour-accelerate}](https://github.com/{REPO_colour-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_gloss-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_gloss-accelerate}) [{REPO_gloss-accelerate}](https://github.com/{REPO_gloss-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_gloss-raster-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_gloss-raster-accelerate}) [{REPO_gloss-raster-accelerate}](https://github.com/{REPO_gloss-raster-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_lens-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_lens-accelerate}) [{REPO_lens-accelerate}](https://github.com/{REPO_lens-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_linear-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_linear-accelerate}) [{REPO_linear-accelerate}](https://github.com/{REPO_linear-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_mwc-random-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_mwc-random-accelerate}) [{REPO_mwc-random-accelerate}](https://github.com/{REPO_mwc-random-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_numeric-prelude-accelerate}.svg?branch=master)](https://travis-ci.org/{REPO_numeric-prelude-accelerate}) [{REPO_numeric-prelude-accelerate}](https://github.com/{REPO_numeric-prelude-accelerate})
 - [![Build Status](https://travis-ci.org/{REPO_cuda}.svg?branch=master)](https://travis-ci.org/{REPO_cuda}) [{REPO_cuda}](https://github.com/{REPO_cuda})
 - [![Build Status](https://travis-ci.org/{REPO_cufft}.svg?branch=master)](https://travis-ci.org/{REPO_cufft}) [{REPO_cufft}](https://github.com/{REPO_cufft})
 - [![Build Status](https://travis-ci.org/{REPO_cublas}.svg?branch=master)](https://travis-ci.org/{REPO_cublas}) [{REPO_cublas}](https://github.com/{REPO_cublas})
 - [![Build Status](https://travis-ci.org/{REPO_cusparse}.svg?branch=master)](https://travis-ci.org/{REPO_cusparse}) [{REPO_cusparse}](https://github.com/{REPO_cusparse})
 - [![Build Status](https://travis-ci.org/{REPO_cusolver}.svg?branch=master)](https://travis-ci.org/{REPO_cusolver}) [{REPO_cusolver}](https://github.com/{REPO_cusolver})
 - [![Build Status](https://travis-ci.org/{REPO_nvvm}.svg?branch=master)](https://travis-ci.org/{REPO_nvvm}) [{REPO_nvvm}](https://github.com/{REPO_nvvm})

