# vim: nospell
#
# In this setup we attempt to build all the accelerate-related packages
# together. Also build them individually, to make it easier to diagnose which
# package(s) are broken when one of the dependencies is updated.
#
# Set the language type to 'c' so that the 'compiler' key becomes active and our
# build matrix is constructed as the product of compiler x target.
#
language: c
dist: trusty
sudo: false

cache:
  timeout: 600
  directories:
    - $HOME/.stack
    - $HOME/llvm
    - .stack-work/downloaded
    - .stack-work/install

addons:
  apt:
    sources:
      - hvr-ghc
      - ubuntu-toolchain-r-test
    packages:
      - nvidia-cuda-toolkit
      - g++-4.8
      - libgmp-dev
      - libfftw3-dev
      - freeglut3-dev
      - cabal-install-1.24
      - happy-1.19.5
      - alex-3.1.7

compiler:
  - GHC-8.0.1
  - GHC-7.10.3
  - GHC-7.8.4

env:
  - TARGET="" # all packages
  - TARGET=accelerate
  - TARGET=accelerate-cuda
  - TARGET=accelerate-fft
  - TARGET=accelerate-io
  - TARGET=accelerate-llvm
  - TARGET=accelerate-llvm-native
  - TARGET=accelerate-llvm-ptx
  - TARGET=accelerate-examples
  - TARGET=colour-accelerate
  - TARGET=gloss-accelerate
  - TARGET=gloss-raster-accelerate
  - TARGET=lens-accelerate
  - TARGET=linear-accelerate
  - TARGET=mwc-random-accelerate
  - TARGET=numeric-prelude-accelerate
  - TARGET=lulesh-accelerate

matrix:
  fast_finish: true

before_install:
  - export GHC=${CC:4}
  - |
      case ${GHC%.*} in
        7.8)  export LLVM="3.5.2" ; export UPGRADE_CABAL=1 ;;
        7.10) export LLVM="3.5.2" ;;
        8.0)  export LLVM="3.8.1" ;;
      esac
  - export PATH=/opt/cabal/1.24/bin:/opt/alex/3.1.7/bin:/opt/happy/1.19.5/bin:$HOME/.cabal/bin:$PATH
  - unset CC
  - source .travis/install-stack.sh
  - source .travis/install-llvm-trusty.sh
  - travis_retry stack install hscolour

install:
  - echo "$(stack exec ghc -- --version) [$(stack exec ghc -- --print-project-git-commit-id 2> /dev/null || echo '?')]"
  - cabal --version
  - stack --version
  - llc --version; true
  - opt --version; true
  - travis_retry stack build --fast --only-dependencies --no-terminal --no-haddock-deps ${TARGET}

script:
  - travis_retry stack build --fast --no-terminal --haddock --no-haddock-deps ${TARGET}

after_success:
  - |
      if [ ${GHC%.*} == 8.0 ] && [ -z ${TARGET} ]; then
        source .travis/update-docs.sh
      fi

